_secrets.json
_secrets.json.injected
!.vscode/extensions.json
!.vscode/launch.json
.claude/settings.local.json
.DS_Store
.production
.vscode/*
build
dependencies.lock
eim_config.toml
managed_components
sdkconfig
sdkconfig.old
secrets.cmake
secrets.json
secrets.json.injected*
.cache/clangd/*
