.pio
managed_components
sdkconfig
sdkconfig.old
.vscode
.production
secrets.json
.DS_Store
build
dependencies.lock
_secrets.json
secrets.cmake
secrets.json.injected*
_secrets.json.injected
.claude/settings.local.json
eim_config.toml
