CONFIG_BOARD_PIXOTICKER=y
CONFIG_SWAP_COLORS=y
CONFIG_HTTP_BUFFER_SIZE_MAX=60000
CONFIG_HTTP_BUFFER_SIZE_DEFAULT=10000
CONFIG_BOOT_WEBP_PARROT=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_SPIRAM=n
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="boards/max_app_4mb.csv"
CONFIG_HUB75_CLK_PHASE_INVERTED=y
