CONFIG_BOARD_TRONBYT_S3=y
CONFIG_BUTTON_PIN=1
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_IDF_TARGET="esp32s3"
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_40M=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_NO_INVERT_CLOCK_PHASE=y

# Double pendulum settings
CONFIG_PENDULUM_SPEED=0.01
CONFIG_PENDULUM_ARM1_LENGTH=12.0
CONFIG_PENDULUM_ARM2_LENGTH=10.0
CONFIG_PENDULUM_MASS1=1.0
CONFIG_PENDULUM_MASS2=1.0
