{
    "WIFI_SSID": "myssiD",
    "WIFI_PASSWORD": "PASSWORD",
    "REMOTE_URL": "http://192.168.1.10:8000/ababababab/next",
    "REFRESH_INTERVAL_SECONDS": 10,
    "DEFAULT_BRIGHTNESS" : 30,
    "ENABLE_AP_MODE": true,
    "ENABLE_WIFI_POWER_SAVE": true,
    "SKIP_DISPLAY_VERSION": false,
    "PREFER_IPV6": false
}
