{
    "TIDBYT_WIFI_SSID": "myssiD",
    "TIDBYT_WIFI_PASSWORD": "PASSWORD",
    "TIDBYT_REMOTE_URL": "http://192.168.1.10:8000/admin/tronbyt_1/next",
    "TIDBYT_REFRESH_INTERVAL_SECONDS": 10,
    "TIDBYT_DEFAULT_BRIGHTNESS" : 30
}